.social {
    border-radius: 4px;
    margin: 1rem 0;
    font-size: 2rem;
    white-space: nowrap;
}
.social a {
    color: #aaa;
    transition: color .2s ease-in-out;
    position: relative; 
}
.social a:not(:first-child) {
      margin-left: 0.5rem; 
}
.linkedin:hover {
color: #0077b5; }

.github:hover {
color: black;
}

.google-scholar:hover {
color: #3248a8;
}
.twitter:hover {
color: #1da1f2; }

.spotify:hover {
color: #2ebd59; }

.projthumb {
    width: 25px;
    float: left;
    margin-right: 7px;
    margin-top: 4px;
    margin-bottom: 4px;
    }