/* Light Mode Button Styles
        --------------------------- */ 

.light-mode-button {
    background:0;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    height: 10px;
    width: 25px;
    position: relative;
    border: 1px solid rgba(255,255,255,0);
}

.light-mode-button:focus {
    outline:none; /* Not ideal for accessibility */
}

.light-mode-button span:nth-child(1) {
    position: absolute;
    top:-175%;
    left:0;
    height: 20px;
    width: 30px;
    border-radius: 20px;
    background-color: #d6d7db;
    box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

.light-mode-button span:nth-child(2) {
    position: absolute;
    top:-110%;
    left:5px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
    transition: .3s;
}

/* Light & Dark Mode Styles
--------------------------- */ 

body {
    /* background-color: #f6f6f6; */
    transition: background-color .3s;
}

body[light-mode=dark] {
    background-color: #141516;
    color: white;
}

body[light-mode="dark"] .light-mode-button span:nth-child(1){
    background-color: #ced4e2;
    color: #141516;
}

body[light-mode=dark] .light-mode-button span:nth-child(2) {
    left: 15px;
    background-color: #141516;
}