@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Slab");
@import url("https://fonts.googleapis.com/css?family=Lato:300,350,400,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,300");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');


body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  /* font-family: Alegreya, Georgia, sans-serif; */
  font-family: Gentium Basic;
  }

a {
  font-weight: 300;
}

table {
  font-size: 15px;
}

ul.unstyled, ol.unstyled { 
  margin-left: 0;
  list-style: none;
}

td {
  vertical-align: top;
}

table td {
  border: 0;
}

#date {
  font-style: oblique;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color:#000; }

h3 {
  font-size: 2.5em;
  font-weight: 390;
  color:#000;
}

h5{
  font-weight: 300;
  font-size: 1.7em;
}

.container {
  max-width: 800px;
  margin-top: 10vmin;
  margin-bottom: 10vmin; }

.drawer {
  padding-right: 9%;
  position: fixed;
  float: left;
  text-align: right; }

.drawer ul {
  color: #aaa; }

.dp {
  display: block;
  width: 18rem;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; 
}

.dp-div {
  background-color: transparent;
  height: 220px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.dp-div-inner {
  /* position: relative; */
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.dp-div:hover .dp-div-inner {
  transform: rotateY(180deg);
}

.dp-front, .dp-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.dp-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.dp-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.logo {
  /*width: 18rem;*/
  /*height: auto;*/
  border-radius: 0px;
  /*box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2);*/
  margin-right: 3.5rem; 
  /*margin-bottom: 2rem; */
}

.title {
  font-weight: 500;
  font-size: 3.2rem; }

.content {
  font-size: 1.6rem; }

a {
  font-weight: bolder;
}

p a, ul a {
  text-decoration: none;
  border-bottom: dotted 1px;
  /* color: #3f51b5; */
  color: #a31d1d;
  transition: border-bottom-color .2s ease-in-out; }
  p a:hover, ul a:hover {
    border-bottom-color: transparent; }

h5 a{
  text-decoration: none;
  border-bottom: dotted 1px;
  /* color: #3f51b5; */
  color: #a31d1d;
  transition: border-bottom-color .2s ease-in-out; }
h5 a:hover {
    border-bottom-color: transparent; }

.social {
  font-size: 130%;
  font-weight: bold;
  white-space: normal; 
}

.social a {
  color: #a31d1d;
  /* color:#3f51b5; */
  transition: color .2s ease-in-out;
  position: relative;
  border-bottom: none; 
}

.social a:not(:first-child) {
  margin-left: 1rem; }

.linkedin:hover {
  color: #0077b5; }

.blog:hover {
  color: #449a88;
}

.cv{
  font-size: 90%;
}
.cv:hover {
  color: #2ebd59; 
}

.mail:hover {
  color: #449a88; }

.twitter:hover {
  color: #1da1f2; }

.quora:hover {
  color: #a82400; }

.spotify:hover {
  color: #2ebd59; }

section {
  margin-top: 3rem; }

.pub {
  background-color:#FFFFFF;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 3px;
  border: solid rgba(0, 0, 0, 0.1);
  border-width: 0.5px 12px 0.5px 0.5px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 100%; }

.pub-type {
  padding-top:0.5em;
  height: 28px;  
  width: 100px;
  border-radius: 2px;
  border: solid rgba(0, 0, 0, 0.1);
  border-width: 0.2px 0px 0.2px 0.2px;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}

.pub:not(:last-child) {
  margin-bottom: 1rem; }

a { color: inherit; text-decoration: none;}

i.rarr {
  transition: padding .2s ease;
  font-style: normal; }

.pub-title {
  color:#a31d1d;
  font-weight:500;
  /* font-size: 1.5rem; */
}
.pub-title:hover {
  font-weight: 300;
  cursor: pointer; }

.pub-title:hover i {
  padding-left: 1rem; }

.pub-description {
  font-size: 1.5rem;
  margin: 0.5em 0; }

.pub-meta {
  font-size: 1.3rem;
  line-height: 190%;
  /* color: inherit; */
  font-style: oblique;
  }

.tag {
    padding-right: 2px;
    font-weight: 400;
    /* font-size: 1rem; */
    color: #a31d1d;
}

img{
  vertical-align: middle;
}

.pub-img-div{
  float:right;
  padding-left: 1em;
  height: auto;
  /* max-height: 0px; */
  width: auto;
  max-width:15%;
}

.pub-img-thumbnail {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.pub-desc-div{
  float:left;
}
  
.pub-authors {
  font-size: 1.4rem;
  position: static;
  top: 90%; }

.pub span {
  display: block; }

#pub-date{
  font-size: 2rem;
  font-weight: bold;
}

.pub-collapse-button{
  width: 14px;
  height: 11px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  line-height: 0.5;
  padding-top: 3px;
  background-color: #a31d1d;
  border-radius: 25%;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  left: 4px;
  perspective: 1000px;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.news ul {
  list-style-type: disc;
  font-size: 16px; }
  .news ul li {
    padding-left: 1rem; }

.tabs {
  display: block;
  margin-top: 4rem;
  border-bottom: 1px solid black;
  padding-left: 7px; }

.tab {
  display: inline-block;
  font-weight: 500;
  font-size: 1.9rem;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 5px 10px;
  height: 38px;
  border: 1px solid #bbb;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: -1px;
  margin-right:2px;
}

.tab:not([class*='active']) {
  color: #ccc;
  border-bottom: none; }

.tab {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.tab.active {
  border: 1px solid black;
  border-bottom: 1px solid #fff;
  color: #000;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .dp {
    width: 20rem; }

  .content {
    /* margin-left: 0 !important; */
    width: auto !important; }

  .drawer {
    position: static;
    float: inherit;
    text-align: left;
    margin-bottom: 2rem;
    width: 98%; } 
  }

@media screen and (max-width: 320px) {
  .tab {
    font-size: 1.2rem; } }

/*# sourceMappingURL=index.css.map */

#back2Top {
  width: 30px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 3%;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #f2a7a7;
  color: #000;
}

#page-navigator {
  font-size: 0.85em;
  margin-top: -1em;
  text-align: left;
  line-height: 2em;
}

#page-navigator a {
  color: black;
  text-decoration: none;
  background-color: #DDD;
  padding: 0.5em;
  border: 0.5px solid;
  border-radius: 50px;
}

.header-affiliations{
  display: flex; 
  justify-content: space-between; 
  /* border: solid rgba(0, 0, 0, 0.3);  */
  /* border-width: 0px 0px 0.5px 0px; */
}

.underline--magical {
  background-image: linear-gradient(120deg,#e68686 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.3em;
  background-position: -1 130%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 100%;
}

.collapsible {
  background-color: white;
  border: none;
  padding: 1px;
  text-align: center;
  margin: 0px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.pub-abstract {
  font-size: 12px;
  font-family: "Lato";
  color: rgb(95, 91, 91);
}

@media screen and (max-width: 780px) {
  .header-affiliations {
      display: inline;
  }
}

